/* CSS HEX */
--mountbatten-pink: #987284ff;
--verdigris: #75b9beff;
--beige: #d0d6b5ff;
--melon: #f9b5acff;
--light-coral: #ee7674ff;

/* CSS HSL */
--mountbatten-pink: hsla(332, 16%, 52%, 1);
--verdigris: hsla(184, 36%, 60%, 1);
--beige: hsla(71, 29%, 77%, 1);
--melon: hsla(7, 87%, 83%, 1);
--light-coral: hsla(1, 78%, 69%, 1);

/* SCSS HEX */
$mountbatten-pink: #987284ff;
$verdigris: #75b9beff;
$beige: #d0d6b5ff;
$melon: #f9b5acff;
$light-coral: #ee7674ff;

/* SCSS HSL */
$mountbatten-pink: hsla(332, 16%, 52%, 1);
$verdigris: hsla(184, 36%, 60%, 1);
$beige: hsla(71, 29%, 77%, 1);
$melon: hsla(7, 87%, 83%, 1);
$light-coral: hsla(1, 78%, 69%, 1);

/* SCSS RGB */
$mountbatten-pink: rgba(152, 114, 132, 1);
$verdigris: rgba(117, 185, 190, 1);
$beige: rgba(208, 214, 181, 1);
$melon: rgba(249, 181, 172, 1);
$light-coral: rgba(238, 118, 116, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #987284ff, #75b9beff, #d0d6b5ff, #f9b5acff, #ee7674ff);
$gradient-right: linear-gradient(90deg, #987284ff, #75b9beff, #d0d6b5ff, #f9b5acff, #ee7674ff);
$gradient-bottom: linear-gradient(180deg, #987284ff, #75b9beff, #d0d6b5ff, #f9b5acff, #ee7674ff);
$gradient-left: linear-gradient(270deg, #987284ff, #75b9beff, #d0d6b5ff, #f9b5acff, #ee7674ff);
$gradient-top-right: linear-gradient(45deg, #987284ff, #75b9beff, #d0d6b5ff, #f9b5acff, #ee7674ff);
$gradient-bottom-right: linear-gradient(135deg, #987284ff, #75b9beff, #d0d6b5ff, #f9b5acff, #ee7674ff);
$gradient-top-left: linear-gradient(225deg, #987284ff, #75b9beff, #d0d6b5ff, #f9b5acff, #ee7674ff);
$gradient-bottom-left: linear-gradient(315deg, #987284ff, #75b9beff, #d0d6b5ff, #f9b5acff, #ee7674ff);
$gradient-radial: radial-gradient(#987284ff, #75b9beff, #d0d6b5ff, #f9b5acff, #ee7674ff);